:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --button-text: #fff;
  --background: #2F303A;
  --button-background: #F5F4FA;
  --icon-color: #AFB1B8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--button-text);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-first,
.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-second {
  color: #000;
}

.logo-footer {
  color: var(--button-text);
}

.logo-first,
.logo-footer {
  display: inline-block;
}

.page-header__contacts {
  display: flex;
  column-gap: 50px;
  margin-left: auto;
}

.page-header__contacts-link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header__contacts-link:hover, .page-header__contacts-link:focus {
  color: var(--accent-color);
}

.page-header__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.footer__contacts-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.5;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contacts-link:hover, .footer__contacts-link:focus {
  color: var(--accent-color);
}

.our-team__sns-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.our-team__sns-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__sns-link:hover, .our-team__sns-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.our-team__sns-icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__sns-link:hover .our-team__sns-icon, .our-team__sns-link:focus .our-team__sns-icon {
  fill: var(--button-text);
  cursor: pointer;
}

.join__sns-list {
  display: flex;
  column-gap: 10px;
}

.join__sns-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--button-text);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join__sns-link:hover, .join__sns-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.hero__title {
  color: var(--button-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--button-text);
  padding: 40px;
}

.modal-window__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__button-close:hover, .modal-window__button-close:focus {
  fill: var(--accent-color);
}

.modal-window__form {
  display: flex;
  flex-direction: column;
}

.modal-window__form-title {
  display: block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-window__user-data {
  margin-bottom: 10px;
}

.modal-window__user-data-label {
  font-size: 12px;
  line-height: 1.2px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-window__icon-thumb {
  position: relative;
  display: block;
}

.modal-window__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
}

.modal-window__user-input,
.modal-window__comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__user-input {
  height: 40px;
  padding-left: 42px;
}
.modal-window__user-input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-window__form-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__user-input:focus + .modal-window__form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-window__user-data-comment {
  margin-bottom: 25px;
}

.modal-window__comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}
.modal-window__comment:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.modal-window__comment::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-window__checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-window__check {
  border-width: 1px;
  border-color: var(--primary-text-color);
  border-style: solid;
  border-radius: 2px;
  padding: 4px 2px 3px 3px;
  margin-right: 7px;
  cursor: pointer;
  fill: #fff;
}
.modal-window__checkbox:checked + .modal-window__check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal-window__contract-check {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-window__btn-send {
  align-self: center;
  background-color: var(--accent-color);
  color: var(--button-text);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10px 52px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__btn-send:hover, .modal-window__btn-send:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.work-example__thumb {
  position: relative;
  overflow: hidden;
}

.work-example__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  padding: 63px 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-example__link:hover .work-example__overlay, .work-example__link:focus .work-example__overlay {
  transform: translateY(0%);
}

.page-header__container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav {
  margin-left: 93px;
}

.list-nav {
  display: flex;
  column-gap: 50px;
}

.list-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav__link::after {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav__link:hover, .list-nav__link:focus {
  color: var(--accent-color);
}
.list-nav__link:hover::after, .list-nav__link:focus::after {
  opacity: 1;
}

.list-nav__link_current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav__link_current::after {
  content: " ";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav__link_current:hover, .list-nav__link_current:focus {
  color: var(--accent-color);
}
.list-nav__link_current:hover::after, .list-nav__link_current:focus::after {
  opacity: 1;
}
.list-nav__link_current::after {
  opacity: 1;
}

.hero {
  /*background-color: var(--background);*/
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__button {
  background-color: var(--button-background);
  color: var(--primary-text-color);
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--accent-color);
  color: var(--button-text);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantages__icon-block {
  width: 270px;
  height: 120px;
  background-color: var(--button-background);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__item {
  max-width: 270px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.advantages__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.advantages {
  display: flex;
  column-gap: 30px;
}

.section-what-we-do {
  padding-bottom: 94px;
}

.section-what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do {
  display: flex;
  column-gap: 30px;
}

.what-we-do__thumb {
  position: relative;
  display: block;
}

.what-we-do__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--button-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-family: inherit;
}

.section-team {
  background-color: var(--button-background);
}

.section-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.our-team__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.our-team__positions {
  color: var(--secondary-text-color);
  line-height: 1.2;
  margin-bottom: 16px;
}

.our-team__info {
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.our-team__worker {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  display: flex;
  column-gap: 30px;
  text-align: center;
}

.customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.customers-list {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 50px;
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border-style: solid;
  border-color: var(--icon-color);
  border-width: 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover, .customers-list__link:focus {
  border-radius: 4px;
  border-style: solid;
  border-color: var(--accent-color);
  border-width: 1px;
}

.customers-list__icon {
  fill: var(--icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__link:hover .customers-list__icon, .customers-list__link:focus .customers-list__icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__address {
  color: var(--button-text);
  font-style: normal;
  font-size: 14px;
  margin-bottom: 9px;
}

.footer__mail-tel:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  margin-left: 70px;
}

.join__title {
  color: var(--button-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__subscribe {
  margin-left: 70px;
}

.footer__subscribe-title {
  display: block;
  color: var(--button-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__subscribe-thumb {
  display: flex;
  column-gap: 12px;
}

.footer__user-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  color: #fff;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
}
.footer__user-input::placeholder {
  padding-top: 15px;
}

.footer__subscribe-link {
  padding: 10px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: var(--button-text);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__subscribe-icon {
  margin-left: 10px;
}

.nav-buttons__filter {
  background-color: var(--button-background);
  color: var(--primary-text-color);
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-buttons__filter:hover, .nav-buttons__filter:focus {
  background-color: var(--accent-color);
  color: var(--button-text);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.nav-buttons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.work-example {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-example__item {
  flex-basis: calc((100% - 60px) / 3);
}

.work-example__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.work-example__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work-example__link:hover, .work-example__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-example__title-description {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EEEEEE;
  padding: 20px 24px;
}

.work-example__description {
  color: var(--secondary-text-color);
  line-height: 1.9;
}/*# sourceMappingURL=main.css.map */