:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --button-text: #fff;
    --background: #2F303A;
    --button-background: #F5F4FA;
    --icon-color: #AFB1B8;
}